/* #region General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gb-bright-primary: #fe9514;
    --gb-text-shadow: #a09283;
    --gb-box-shadow: #e5e4e4;
    --gb-light-primary: white;
    --gb-light-secondary: #f6f5f3;
    --gb-text-lighter: #999999;
    --gb-text-darker: #4e3969;
    --gb-dark-primary: black;
    --gb-brand: #7c69a4; 
}

img, iframe, h1 {
    max-width: 100%;
}

/* #endregion General*/

/* #region Utilities*/

/* #region Fonts*/

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* #endregion Fonts*/

.d-flex {
    display: flex;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0.5rem;
}

.cont-iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

/* #endregion Utilities*/

/* #region Header */

header {
    padding: 1rem 1.5rem;
    h1 {
        color: var(--gb-bright-primary);
        text-shadow: 1px 1px var(--gb-text-shadow);
        text-align: center;
        font-size: 58px;
    }
}

/* #endregion Header */

/* #region Main */

main {
    background-color: var(--gb-light-secondary);
    .container {
        #recipe {
            >span {
                display: block;
                color: var(--gb-text-lighter);
                padding: .75rem 0;
            }
            h2 {
                color: var(--gb-text-darker);
                padding-bottom: 1rem;
                span {
                    display: none;
                }
            }
            
            #summary {
                padding: 1.25rem;
                background-color: var(--gb-light-primary);
                line-height: 2rem;
                box-shadow: 2px 4px 4px var(--gb-box-shadow);
                div {
                    flex-direction: column;
                }
                h3 {
                    margin-bottom: 1rem;
                }
            }
            #icons {
                justify-content: space-between;
                padding: 1.5rem 0;
                button {
                    background-color: var(--gb-light-primary);
                    border: none;
                    padding: .5rem .75rem;
                    border-radius: 20px;
                    box-shadow: 2px 4px 4px var(--gb-box-shadow);
                    span {
                        display: none;
                    }
                }
            }
        }
        #ad {
            margin-bottom: 1rem;
            display: none;
        }
        #presentation {
            h2 {
                font-weight: 450;
                padding: 1rem 0;
            }
            hr {
                width: 8%;
                height: 0;
                border: none;
                border-top: 2px solid var(--gb-bright-primary);
            }
            div {
                padding: 2rem 0;
            }
            img {
                display: block;
                max-width: 70%;
                margin: 0 auto;
            }
            p {
                margin-top: 1rem;
                line-height: 2rem;
            }
        }
    }
}

/* #endregion Main */

/* #region Footer */

footer {
    padding: 1.5rem;
    background-color: var(--gb-brand);
    color: var(--gb-light-primary);
    >div {
        flex-direction: column;
        align-items: center;
        #left {
            text-align: center;
            margin-bottom: 1rem;
            strong,
            span {
                display: block;
            }
            strong {
                margin-bottom: .5rem;
            }
        }
        #right {
            ul {
                justify-content: center;
                list-style: none;
                flex-wrap: wrap;
                row-gap: 1rem;
                column-gap: .75rem;
                li {
                    flex-shrink: 0;
                    a {
                        color: var(--gb-light-primary);
                    }
                }
            }
        }
    }
}

/* #endregion Footer */

/* #region Responsive*/

/*Large Mobile Mode (>576px)*/

@media screen and (min-width: 576px) {
    main {
        #recipe {
            #icons {
                padding: 2rem 0;
                button {
                    flex-basis: calc(100% / 5 - 20px);
                }
            }
        }
        #presentation {
            img {
                width: 40%;
                float: left;
                padding: 1.6rem 0.7rem 0 0;
            }
        }
    }
    
}

/*Tablet Mode (>768px)*/

@media screen and (min-width: 768px) {
    header {
        h1 {
            text-align: start;
        }
    }
    main {
        .container {
            padding: 2.5rem 1rem;
            #recipe {
                h2 {
                    font-size: 28px;
                    span {
                        display: inline-block;
                    }
                }
                #summary {
                    div {
                        flex-direction: row;
                        flex-wrap: wrap;
                        span {
                            display: inline-block;
                            flex-basis: calc(100% / 3 - 3px);
                            strong {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            #ad {
                display: block;
            }
        }
    }
}

/*Desktop Mode (>992px)*/

@media screen and (min-width: 992px) {
    .col-lg-4 {
        width: calc(100% / 12 * 4);
    }
    .col-lg-8 {
        width: calc(100% / 12 * 8);
    }
    main {
        .container {
            max-width: 1160px;
            #recipe {
                h2 {
                    font-size: 32px;
                }
                .cont-iframe {
                    padding-top: 37.25%;
                }
                #summary {
                    padding: 3rem;
                    h3 {
                        font-size: 24px;
                    }
                    div {
                        line-height: 2.5rem;
                        flex-direction: column;
                    }
                }
                #icons {
                    button {
                        span {
                            display: inline;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    footer {
        >div {
            padding: 1.5rem;
            flex-direction: row;
            justify-content: space-between;
            #left {
                text-align: start;
            }
        }
    }
}

/* #endregion Responsive*/